<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willkommen</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Last Logged In: <span th:text="${lastLoggedIn != null ? #temporals.format(lastLoggedIn, 'yyyy-MM-dd HH:mm:ss') : 'Never'}"></span></p>
    <p>Current Logged In: <span th:text="${#temporals.format(currentLoggedIn, 'yyyy-MM-dd HH:mm:ss')}"></span></p>

    <a href="/logout">Logout</a>
</body>
</html> 